{% extends "pool_base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock %}

{% block content %}
<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
	<div class="row" style="padding-top: 0.6em;">
		<div class="col-12">
			<div class="page-title-box">
				<h1 class="page-title"><b>New Client</b></h1>
			</div>
		</div>
	</div>   
    <!-- end page title --> 


    <!--Body-->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- <form action="{% url 'create_item' %}" method="POST" enctype="multipart/form-data"> -->
                    <form action="#" method="POST" enctype="multipart/form-data">
                       {% csrf_token %}
                       {% if form.errors %}
                          {% for field in form %}
                              {% for error in field.errors %}
                                  <div class="alert alert-danger">
                                      <strong>{{ error|escape }}</strong>
                                  </div>
                              {% endfor %}
                          {% endfor %}
                          {% for error in form.non_field_errors %}
                              <div class="alert alert-danger">
                                  <strong>{{ error|escape }}</strong>
                              </div>
                          {% endfor %}
                      {% endif %}
                       {{ form | crispy }}
                      <button type="submit" class="btn btn-primary">{{Text}}</button>
                    </form>
                </div>
              </div>
        </div>
    </div> 
    <!--End Body-->       
</div>
<!-- container -->
{% endblock %}
{% block extra_javascript %}
{% endblock%}