{% extends "pool_base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block extra_css %}
<style>
    .hide{
display: none;
}
</style>
{% endblock %}

{% block content %}
<!-- Start Content-->
<div class="container-fluid">

	<!-- start page title -->
	<div class="row" style="padding-top: 0.6em;">
		<div class="col-12">
			<div class="page-title-box">
				<h4 class="page-title"><b>Month Goals</b></h4>
			</div>
		</div>
	</div>
	<!-- end page title --> 

	<!--Body-->
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<a href="/forms/create_monthgoals" class="btn btn-blue btn">
						<i class="mdi mdi-plus-circle-outline"></i> Nuevo
					</a>
					<div id="cardCollpase1" class="collapse pt-3 show">
						<table id="list_users" class="table dt-responsive nowrap w-100">
						<!-- <table class="table-centered table-nowrap table-borderless mb-0" style="width:100%;"> -->
							<thead>
								<tr>
									<th>Tienda</th>
									<th>Mes</th>
									<th>Año</th>
									<th>Fee</th>
									<th>Sales Goal</th>
									<th>Units Goal</th>
									<th>Ads Spend Limit</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for object in objects_list %}
								<tr>
									<td>{{object.store}}</td>
									<td>{{object.mes}}</td>
									<td>{{object.anio}}</td>
									<td>{{object.fee}}</td>
									<td>{{object.sales_goal}}</td>
									<td>{{object.units_goal}}</td>
									<td>{{object.ads_spend_limit}}</td>
									<td>
										<a href="/forms{{ object.get_update_url }}" data-toggle="tooltip" data-placement="top" title="Editar" class="btn btn-xs btn-warning"><i class="mdi mdi-pencil mdi-18px"></i></a>
										<a href="/forms{{ object.get_delete_url }}" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn btn-xs btn-danger"><i class="mdi mdi-trash-can mdi-18px"></i></a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div> 
				</div> 
			</div>
		</div>
	</div> 
</div>


<!-- container -->
{% endblock %}
{% block extra_javascript %}
<script>
    var a=$('#list_users').DataTable({scrollY:'50em',scrollCollapse:!0,lengthChange:!1,language:{paginate:{previous:"<i class='mdi mdi-chevron-left'>",next:"<i class='mdi mdi-chevron-right'>"}},drawCallback:function(){$(".dataTables_paginate > .pagination").addClass("pagination-rounded")}});
    a.buttons().container().appendTo('#list_users_wrapper .col-md-6:eq(0)')
</script>
<script>
var date =new Date('{{ usuario.expirate|date:"D, d M Y H:i:s"}}');
var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();
if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;
var today = year + "-" + month + "-" + day;
    document.getElementById("expirate").value = today;
</script>
{% endblock%}
