{% extends "pool_base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock %}

{% block content %}
<!-- Start Content-->
<div class="container-fluid" style="padding-left: 2em;">                   
    <!-- start page title -->
    <div class="row" style="padding-top: 3em;">
        <div class="col-11">
            <h2 style="margin: 0%; padding-bottom: 0.2em;">Filtro Para El Gráfico</h2>
            <p>Seleccione los filtros para el gráfico de {{ type }}</p>
        </div>
    </div>
    
    <!-- end page title --> 
    
    <!--Body-->
    
        <div class="row" style="padding-top: 2em;">
            <div class="col-5" style="padding-left: 8em; padding-right: 2em;">
                <div class="card" style="border-radius: 35px; height: 39em">
                    <div class="card-body">
                        <h4 class="header-title mb-0" style="color: #6c757d;">Gráfico:</h4>
                        <div class="table-responsive" style="padding-top: 1em;">
                            <table class="table-centered table-nowrap table-borderless mb-0" style="width:100%;">
                                <thead class="table-light">
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><h4 style="color: #6c757d;">Título</h4></td>
                                        <td><h4 style="color: #6c757d;">{{graph.title}}</h4></td>
                                    </tr>
                                    <tr>
                                        <td><h5 style="color: #6c757d;">Dataset Seleccionado</h5></td>
                                        <td><h5 style="color: #6c757d;">{{graph.endpoint}}</h5></td>
                                    </tr>

                                    <tr>
                                        <td><h5 style="color: #6c757d;">Tipo de Grafico</h5></td>
                                        <td><h5 style="color: #6c757d;"><i class="{{graph.type_graph.icon}}"></i> {{graph.type_graph}}</h5></td>
                                    </tr>

                                    <tr>
                                        <td><h5 style="color: #6c757d;">Columnas Ocupadas</h5></td>
                                        <td><h5 style="color: #6c757d;"> {{graph.column}}</h5></td>
                                    </tr>

                                    <tr>
                                        <td><h5 style="color: #6c757d;">Tipo de Agrupación</h5></td>
                                        <td><h5 style="color: #6c757d;"> {{graph.type_agrupation.card}}</h5></td>
                                    </tr>

                                    <tr>
                                        <td><h5 style="color: #6c757d;">Tipo de Cálculo</h5></td>
                                        <td><h5 style="color: #6c757d;"> {{ row.type_calculate }}</h5></td>
                                    </tr>

                                    <tr>
                                        <td><h5 style="color: #6c757d;">Campo seleccionado </h5></td>
                                        <td><h5 style="color: #6c757d;"> {{ row.value }}</h5></td>
                                    </tr>

                                    <tr>
                                        <td><h5 style="color: #6c757d;">Filtros:</h5></td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive" style="height: 11em;">
                            <table class="table table-borderless  table-nowrap table-centered m-0">

                                <thead class="table-light">
                                    <tr>
                                        <th>Filtro </th>
                                        <th>Columna</th>
                                        <th>Cálculo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for filt in filters %}
                                        <tr>
                                            <td>{{ filt }}</td>
                                            <td>{{ filt.value }}</td>
                                            <td>{{ filt.type_comparation }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6" style="padding-left: 2em; padding-right: 8em;" >
                <div class="card" style="border-radius: 25px; height: 25em">
                    <div class="card-body">
                        <form action="{% url 'create_filter' %}" method="POST", enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="id_graph" value={{ graph.id }} id="id_graph">


                            <div id="div_id_filter" class="mb-3"> 
                                <label for="id_filter" class="form-label requiredField">Filtro<span class="asteriskField">*</span> </label> 
                                <select name="filter" class="select form-select" required="" id="id_filter"> 
                                    <option value="" selected="">Please select filter</option> 
                                    {% for leg in filter %}
                                        <option value="{{ leg.pk }}">{{ leg }}</option>
                                    {% endfor %}
                                </select> 
                            </div>

                            <div id="div_id_value" class="mb-3"> 
                                <label for="id_value" class="form-label requiredField">Columna a Filtrar<span class="asteriskField">*</span> </label> 
                                <select name="value" class="select form-select" required="" id="id_value"> 
                                    <option value="" selected="">Please select column</option> 
                                   
                                </select> 
                            </div>
                            <div style="text-align: end;">
                                <button type="submit" class="btn btn-primary" style="width: 8em;">{{Text}}</button>
                            </div>
                        </form>

                        <div style="padding-top: 3em;">
                            <form action="{% url 'filter_finsh' %}" method="POST", enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="id_graph" value={{ graph.id }}>
                                <div style="text-align: center;">
                                    <button type="submit" class="btn btn-primary btn-lg" style="width: 16em;">Finalizar</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>         
    
    <!--End Body-->       
</div>
<!-- container -->
{% endblock %}
{% block extra_javascript %}


<script>
    $(document).ready( function ()
    {
        $(function() {
            $("#id_filter").on('change', function() {
                var id_filtro = $(this).val();
                var id_graph=$("#id_graph").val();

                $.ajax({
                    type: 'GET',
                    url:`http://localhost:8000/dashboard/row/graph/filter/campo/${id_graph}/${id_filtro}`,
                    success: function(response){
                        $('#id_value').empty();
                        $('#id_value').append(response.data);
                    },
                    error:function (error){
                        $('#id_value').empty();
                        $('#id_value').append('<option value="" selected="">Please select column.</option>');
                    }
                })
            }).change();
        });
    });
    
</script>
{% endblock%}